name: Daily News Bot

on:
  schedule:
    - cron: "0 8 * * *"   # Runs every day at 8:00 AM UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install firebase-admin google-generativeai requests

        - name: Create Firebase Key File
          run: |
          echo '${{ secrets.FIREBASE_SERVICE_JSON }}' > firebase_key.json


      - name: Run Automation Script
        env:
          NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python auto_news.py
